<div class="moduleContainer">

  <div style="margin-bottom: 10px">
    <div>
      <button (click)="openDialog()" mat-mini-fab color="primary" style="margin-right: 5px"><span
          class="material-icons">add</span></button>
      <button (click)="removePortfolio()" mat-mini-fab color="warn"><span class="material-icons">remove</span></button>
    </div>
  </div>

  <mat-spinner *ngIf="(rowData | async)?.length == 0"></mat-spinner>
  <ag-grid-angular domLayout='autoHeight' class="ag-theme-material" pagination="true" paginationPageSize="10"
    rowSelection="multiple" checkboxSelection="true" [rowData]="rowData | async" [columnDefs]="columnDefs"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>
