version: 2.1
jobs:
  build:
    working_directory: ~/the-lazy-investor/src/client
    docker:
      - image: circleci/node:latest
    steps:
      - checkout:
            path: ~/the-lazy-investor
      - run:
          name: Install
          command: npm install
      - run:
          name: Run tests
          command: npm test
