.grid-container {
  margin: 5px;
}

.dashboard-card {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  height: 100%;
  width: 100%;
}
