<div class="wrapper">
  <mat-toolbar color="primary" class="header">
    <span class="nav-tool-items">
      <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
    </span>
    <div class="navTitle">The Lazy Investor</div>

    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="logout()">Logout</button>
  </mat-toolbar>

  <mat-sidenav-container>
    <!-- Sidenav -->
    <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
      [fixedTopGap]>
      <mat-nav-list>
        <a mat-list-item routerLink="" routerLinkActive="active">
          <mat-icon>dashboard</mat-icon> Dashboard
        </a>
        <a mat-list-item routerLink="/portfolios" routerLinkActive="active">
          <mat-icon>account_balance</mat-icon> Portfolios
        </a>
        <a mat-list-item routerLink="/transactions" routerLinkActive="active">
          <mat-icon>book</mat-icon> Transactions
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

      <!-- Main content -->
      <router-outlet></router-outlet>

      <!-- Footer -->
      <div class="container-fluid">
        <app-footer></app-footer>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
